<h2> All Transactions </h2>

<div id="transaction-wrapper">
  <% @transactions.each do |transaction| %>

  <div class="transaction">
    <h3><p>Amount: <%= transaction.amount %> </p></h3>
    <h2><a href="/transactions/<%= transaction.id %>"><%= transaction.merchant %></a></h2>
    <form method="post" action="/transactions/<%= @transaction.id %>/delete">
      <input type="submit" value="Delete Transaction"/>
    </form>
    <p><a href="/transactions/<%= transaction.id %>/edit">Edit Transaction</a></p>
    <% end %>

</div>
