<h2> All Transactions </h2>

<div id="transaction-wrapper">
  <% @transactions.each do |transaction| %>
  <hr>
  <div class="transaction">
    <h3><a href="/transactions/<%= transaction.id %>"><%= transaction.merchant %></a></h3>
    <p>Amount: <%= transaction.amount %> </p>
    <p><a href="/transactions/<%= transaction.id %>">Show Transaction</a></p>
    <p><a href="/transactions/<%= transaction.id %>/edit">Edit Transaction</a></p>

    <% end %>

</div>
